version: "3.8"
services:
  mongodb:
    container_name: my-app-db
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    # volumes:  
    #   - mongo-data:/data/db
  api:
    container_name: api
    build: ./api
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./api:/user/src/app

